@media (min-width: 200px) and (max-width: 600px) {
  .slide-items {
    flex-direction: column;
  }
}
#introslide {
  text-align: left;
}
.slide-items {
  display: flex;
  margin: 20px 10px;
  border-radius: 15px;;
  background-color: #ffffff14;
  transition: 300ms;
}

.slide-items:hover{

  box-shadow: 0 0 10px 1px #ff7878;
}

.slide-items > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
