.user-options {
  margin-top: 40vh;
  margin-bottom: 36vh;
}
.footer-padding {
  padding-bottom: 60px;
}

.head-text{
  color: #ff5672;
  font-family: Impact, 'Arial N2arrow Bold', sans-serif;
  font-weight: 800;
  font-size: 60px;  
}

.head-subtext{
  color: #ffffff;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.hero::before{
  background-image: linear-gradient(to bottom, #121212, #12121255), url("https://w.wallha.com/ws/14/yWY4J2td.jpg");
}