.user-options {
  margin-top: 40vh;
  margin-bottom: 36vh;
}
.footer-padding {
  padding-bottom: 60px;
}

.head-text{
  color: #ff5672;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 60px;  
}

.head-subtext{
  color: #ffffff;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;
  font-size: 40px;
}