/* style.css */

/* Add any global styles here */

/* For Footer */
footer {
    font-size: 14px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  