.group-head{
    color: #ff869a;
    font-size: 30px;
}

.content{
    color: #fff;
    font-size: 18px;
    margin: 20px 10px;
}
.about-content{
    display: flex;
    gap: 20px;
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* flex-wrap: wrap; */
    flex-direction: row;;
}


.section{
  font-size: 18px;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  width: 350px;
  height: 450px;
}